Django==5.0.6
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-filter==24.2
django-q2==1.7.3
drf-spectacular==0.27.2
psycopg2-binary==2.9.9
python-decouple==3.8
gunicorn==22.0.0
whitenoise==6.7.0
django-extensions==3.2.3
ruff==0.4.7
pytest==8.2.2
pytest-django==4.8.0
factory-boy==3.3.0
Faker==25.2.0
requests==2.32.3
